In [1]:
import os
import pandas as pd

version = "v01"
main_publisher = 'Stanford'
script_dir = os.path.dirname(os.path.realpath('__file__'))
path = os.path.join(script_dir, '../Data/' + main_publisher + '/')

df_series = pd.read_csv(path + 'series.csv', delimiter = '|')
df_episodes = pd.read_csv(path + 'episodes.csv', delimiter = '|')
df_chapters = pd.read_csv(path + 'chapters.csv', delimiter = '|')
chapters = df_chapters['Cid'].values
df_precedence = pd.DataFrame()

In [2]:
precedences = []
for c in chapters[:-1]:
    if df_chapters[df_chapters['Cid'] == c]['Sid'].values[0] == df_chapters[df_chapters['Cid'] == c + 1]['Sid'].values[0] :
        precedence_dict = {
            'Before' : c,
            'After' : c + 1,
            'Sid' : df_chapters[df_chapters['Cid'] == c]['Sid'].values[0]
        }
        precedences.append(precedence_dict)

df_precedence = pd.DataFrame(precedences)
df_precedence.to_csv(path + 'precedences.csv', sep='|', index = False)
df_precedence.head()

   Before  After  Sid
0       0      1    0
1       1      2    0
2       2      3    0
3       3      4    0
4       4      5    0

In [3]:
precedences = []
for c in chapters[:-1]:
    c_next = c + 1
    while c_next != len(chapters) and df_chapters[df_chapters['Cid'] == c]['Sid'].values[0] == df_chapters[df_chapters['Cid'] == c_next]['Sid'].values[0]:
        precedence_dict = {
            'Before' : c,
            'After' : c_next,
            'Sid' : df_chapters[df_chapters['Cid'] == c]['Sid'].values[0]
        }
        precedences.append(precedence_dict)
        c_next += 1
df_precedence_all = pd.DataFrame(precedences)
df_precedence_all.to_csv(path + 'precedences_all.csv', sep='|', index = False)
df_precedence_all.head()

   Before  After  Sid
0       0      1    0
1       0      2    0
2       0      3    0
3       0      4    0
4       0      5    0

In [4]:
precedences = []
for c in chapters[:-1]:
    c_next = c + 1
    c_eid = df_chapters[df_chapters['Cid'] == c]['Eid'].values[0]
    c_next_eid = df_chapters[df_chapters['Cid'] == c_next]['Eid'].values[0]
    if c_eid == c_next_eid:
        precedence_dict = {
            'Before' : c,
            'After' : c_next,
            'Eid' : df_chapters[df_chapters['Cid'] == c]['Eid'].values[0]
        }
        precedences.append(precedence_dict)
        c_next += 1
        if(c_next < len(chapters)):
            print(c_next)
            c_next_eid = df_chapters[df_chapters['Cid'] == c_next]['Eid'].values[0]
df_precedence_episodes = pd.DataFrame(precedences)
df_precedence_episodes.to_csv(path + 'precedences_episodes.csv', sep='|', index = False)
df_precedence_episodes.head()

123
124
125
126
127
137
138
139
140
141
143
144
145
146
147
149
150
151
152
153
165
166
167
168
169
170
176
177
178
179
180
186
187
188
189
190
192
193
194
195
196
197
199
200
201
202
203
205
206
207
208
209
211
212
213
214
215
217
218
219
220
221
223
224
225
226
227
229
230
231
232
234
235
236
237
238
240
241
242
243
244
246
247
248
249
250
252
253
254
255
256
258
259
260
261
262
264
265
266
267
268
270
271
272
273
275
276
277
278
279
281
282
283
284
285
287
288
289
290
291
293
294
295
296
297
300
301
302
303
304
306
307
308
309
310
312
313
314
315
316
318
319
320
321
322
324
325
326
327
328
330
331
332
333
334
336
337
338
339
340
341
343
344
345
346
348
349
350
351
352
354
355
356
357
358
361
362
363
364
365
366
368
369
370
371
372
374
375
376
377
378
379
381
382
383
384
385
386
388
389
390
391
392
393
395
396
397
398
399
400
402
403
404
405
406
407
409
410
411
412
413
415
416
417
418
419
421
422
423
424
425
427
428
429
430
431
433
434
435
436
437
438
439
440
442
443
444
445
446
447
449
450
451
452
453
454
456
457
458
459
460
462
463
464
465
466
468
469
470
471
472
474
475
476
477
478
483
484
485
486
487
489
490
491
492
493
495
496
497
498
499
502
503
504
505
506
508
509
510
511
512
514
515
516
517
518
520
521
522
523
524
526
527
528
529
530
532
533
534
535
537
538
539
540
541
543
544
545
546
547
548
550
551
552
553
554
555
557
558
559
560
561
562
564
565
566
567
568
569
571
572
573
574
575
576
578
579
580
581
582
584
585
586
587
588
590
591
592
593
594
595
598
599
600
601
602
604
605
606
607
608
610
611
612
613
614
616
617
618
619
620
622
623
624
625
626
628
629
630
631
632
634
635
636
637
638
640
641
642
643
644
646
647
648
649
650
652
653
654
655
656
658
659
660
662
663
664
665
666
668
669
670
671
672
674
675
676
677
678
680
681
682
683
685
686
687
688
690
691
692
693
694
696
697
698
699
700
704
705
706
707
708
710
711
712
713
714
717
718
719
720
721
738
739
740
742
743
744
745
747
748
749
750
752
753
754
756
757
758
759
761
762
763
793
794
795
796
797
799
800
801
802
803
805
806
807
808
809
810
812
813
814
815
816
818
819
820
821
822
823
825
826
827
828
829
954
955
956
958
959
961
962
963
965
966
967
969
970
971
973
974
975
977
978
979
981
982
983
985
986
987
989
990
991
993
994
995
997
998
999
1001
1002
1003
1005
1006
1007
1009

   Before  After  Eid
0     121    122  121
1     122    123  121
2     123    124  121
3     124    125  121
4     125    126  121

In [5]:
df_precedence_episodes.shape

(568, 3)

In [6]:
precedences = []
for c in chapters[:-1]:
    c_next = c + 1
    c_eid = df_chapters[df_chapters['Cid'] == c]['Eid'].values[0]
    c_next_eid = df_chapters[df_chapters['Cid'] == c_next]['Eid'].values[0]
    c_sid = df_chapters[df_chapters['Cid'] == c]['Sid'].values[0]
    c_next_sid = df_chapters[df_chapters['Cid'] == c_next]['Sid'].values[0]
    if c_eid != c_next_eid and c_sid == c_next_sid:
        precedence_dict = {
            'Before' : c,
            'After' : c_next,
            'Sid' : df_chapters[df_chapters['Cid'] == c]['Sid'].values[0]
        }
        precedences.append(precedence_dict)
df_precedence_series = pd.DataFrame(precedences)
df_precedence_series.to_csv(path + 'precedences_series.csv', sep='|', index = False)
df_precedence_series.head()

   Before  After  Sid
0       0      1    0
1       1      2    0
2       2      3    0
3       3      4    0
4       4      5    0

In [7]:
df_precedence_series.shape

(431, 3)