In [5]:
import os
import pandas as pd
from bert import embeddings

main_publisher = 'Merged'
methods = ['BERT']

script_dir = os.path.dirname(os.path.realpath('__file__'))
path = os.path.join(script_dir, '../Data/' + main_publisher + '/')
df_chapters = pd.read_csv(path + 'chapters.csv', sep = '|')
df_chapters.head()

,Cid,Eid,Sid,Text,Title,BeginTimestamp,EndTimestamp,Corpus
0,0,0,0,Professor Jonathan Holloway : \n “Fellow citi...,"Chapter 1. Frederick Douglass’ Speech, Deliver...",00:00:00,00:04:44,yaleocw
1,1,0,0,This class is about the post-emancipation Afri...,Chapter 2. What does it mean to be American?,00:04:44,00:07:56,yaleocw
2,2,0,0,"Near the Minuteman Park, there’s also a cemete...",Chapter 3. The Story of John Jack,00:07:56,00:15:43,yaleocw
3,3,0,0,"Two hundred years later, after John Jack’s att...",Chapter 4. The Linkage between Freedom and Cit...,00:15:43,00:19:25,yaleocw
4,4,0,0,We’re going to look for stories like this in a...,Chapter 5. The History of the Post-Emancipatio...,00:19:25,00:24:26,yaleocw

In [9]:
df_embeddings = embeddings(df_chapters.Text.values, methods, save = True, path = path)
df_embeddings.head()

/home/abazouzi/Documents/Code/PrerequisiteLearning/clara-datasets/lib64/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Downloading model.safetensors: 100%|██████████| 440M/440M [04:10<00:00, 1.76MB/s]

                                                BERT
0  [0.052457463, 0.47599125, 0.05521268, -0.28553...
1  [-0.012200231, 0.24475642, 0.11507651, -0.2445...
2  [0.0950356, 0.22532578, 0.17159453, -0.0779241...
3  [0.03151487, 0.44307682, 0.12105083, -0.171348...
4  [-0.03276513, 0.1495071, 0.1283632, -0.0709260...

In [6]:
df_concepts = pd.read_csv(path + 'concepts.csv', sep = '|')
df_concepts['Concept'] = df_concepts['Concept'].apply(lambda x : x.split('/')[-1].replace('_', ' '))
df_embeddings_concepts = embeddings(df_concepts.Concept.values, methods)
df_embeddings_concepts.head()

                                                BERT
0  [-0.94547343, -0.1625015, 0.14259385, -0.01095...
1  [-0.6349313, -0.15997009, 0.030811118, 0.04047...
2  [-0.3411792, 0.24343413, 0.28454694, -0.174622...
3  [0.1459335, 0.10399005, 0.3314292, -0.23018344...
4  [-0.22689115, 0.09236799, -0.1093656, -0.41396...

In [7]:
df_embeddings_concepts.to_csv(path + "embeddings_concepts.csv", sep = '|')

In [9]:
df_concepts = pd.read_csv(path + 'concepts_bis.csv', sep = '|')
df_concepts['Concept'] = df_concepts['Concept'].apply(lambda x : x.split('/')[-1].replace('_', ' '))
df_embeddings_concepts = embeddings(df_concepts.Concept.values, methods)
df_embeddings_concepts.head()

                                                BERT
0  [0.0803655, -0.053174503, -0.42212963, -0.4143...
1  [0.08543151, -0.17890522, -0.30755234, -0.0417...
2  [-0.43576244, -0.003321135, 0.083635025, -0.11...
3  [0.36499563, -0.21680821, -0.25889257, -0.2903...
4  [-0.10854881, -0.122201405, -0.52367646, -0.16...

In [10]:
df_embeddings_concepts.to_csv(path + "embeddings_concepts_bis.csv", sep = '|')

In [11]:
df_embeddings_concepts.shape

(24347, 1)