In [1]:
import os
import pandas as pd
from embedding import embeddings

main_publisher = 'Merged'
methods = ['EMBEDD-ER']

script_dir = os.path.dirname(os.path.realpath('__file__'))
path = os.path.join(script_dir, '../Data/' + main_publisher + '/')
df_chapters = pd.read_csv(path + 'chapters.csv', sep = '|')
df_chapters.head()

/home/abazouzi/Documents/Code/PrerequisiteLearning/clara-datasets/lib64/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

,Cid,Eid,Sid,Text,Title,BeginTimestamp,EndTimestamp,Corpus
0,0,0,0,Professor Jonathan Holloway : \n “Fellow citi...,"Chapter 1. Frederick Douglass’ Speech, Deliver...",00:00:00,00:04:44,yaleocw
1,1,0,0,This class is about the post-emancipation Afri...,Chapter 2. What does it mean to be American?,00:04:44,00:07:56,yaleocw
2,2,0,0,"Near the Minuteman Park, there’s also a cemete...",Chapter 3. The Story of John Jack,00:07:56,00:15:43,yaleocw
3,3,0,0,"Two hundred years later, after John Jack’s att...",Chapter 4. The Linkage between Freedom and Cit...,00:15:43,00:19:25,yaleocw
4,4,0,0,We’re going to look for stories like this in a...,Chapter 5. The History of the Post-Emancipatio...,00:19:25,00:24:26,yaleocw

In [2]:
df_embeddings = embeddings(df_chapters.Text.values, df_chapters.Cid.values, methods, save = False, path = path)
df_embeddings.head()

Loading 100 model ...
Loaded 100 model ...
79 not found
412 not found
452 not found
672 not found
1022 not found
1031 not found
1040 not found
1046 not found
1054 not found
1066 not found
1075 not found
1125 not found
1220 not found
1227 not found
2176 not found
2183 not found
2198 not found
2263 not found
2269 not found
2271 not found
2272 not found
2281 not found
2289 not found
2293 not found
2297 not found
2306 not found
2307 not found
2312 not found
2322 not found
2324 not found
2326 not found
2332 not found
2336 not found
2550 not found
2562 not found
2625 not found
2628 not found
2629 not found
2630 not found
2631 not found
2632 not found
2633 not found
2634 not found
2635 not found
2636 not found
2637 not found
2638 not found
2639 not found
2640 not found
2641 not found
2642 not found
2643 not found
2644 not found
2645 not found
2646 not found
2647 not found
2648 not found
2649 not found
2650 not found
2651 not found
2652 not found
2653 not found
2654 not found
2655 not found
2656 not found
2657 not found
2658 not found
2659 not found
2660 not found
2661 not found
2662 not found
2664 not found
2665 not found
2666 not found
2667 not found
2668 not found
2669 not found
2670 not found
2671 not found
2672 not found
2673 not found
2674 not found
2675 not found
2676 not found
2677 not found
2678 not found
2679 not found
2680 not found
2681 not found
2682 not found
2683 not found
2684 not found
2685 not found
2686 not found
2687 not found
2688 not found
2689 not found
2690 not found
2691 not found
2692 not found
2693 not found
2694 not found
2696 not found
2697 not found
2813 not found
2817 not found
2911 not found
2912 not found
2913 not found
2914 not found
2915 not found
2916 not found
2917 not found
2918 not found
2919 not found
2920 not found
2921 not found
2922 not found
2924 not found
2925 not found
2926 not found
2927 not found
2929 not found
2931 not found
2932 not found
2933 not found
2934 not found
2935 not found
2938 not found
2939 not found
2940 not found
2942 not found
2943 not found
2944 not found
2946 not found
3010 not found
3023 not found
3024 not found
3025 not found
3026 not found
3027 not found
3028 not found
3029 not found
3030 not found
3031 not found
3032 not found
3033 not found
3034 not found
3035 not found
3036 not found
3037 not found
3039 not found
3040 not found
3041 not found
3042 not found
3043 not found
3044 not found
3045 not found
3046 not found
3047 not found
3048 not found
3049 not found
3050 not found
3051 not found
3053 not found
3056 not found
3060 not found
3061 not found
3063 not found
3064 not found
3065 not found
3067 not found
3068 not found
3069 not found
3070 not found
3071 not found
3072 not found
3073 not found
3074 not found
3075 not found
3077 not found
3078 not found
3080 not found
3089 not found
3090 not found
3091 not found
3092 not found
3098 not found
3099 not found
3100 not found
3102 not found
3104 not found
3109 not found
3140 not found
3172 not found
3173 not found
3177 not found
3183 not found
3186 not found
3189 not found
3194 not found
3195 not found
3199 not found
3205 not found
3208 not found
3209 not found
3210 not found
3211 not found
3212 not found
3213 not found
3214 not found
3215 not found
3216 not found
3217 not found
3218 not found
3219 not found
3220 not found
3221 not found
3222 not found
3223 not found
3224 not found
3225 not found
3226 not found
3227 not found
3232 not found
3233 not found
3238 not found
3242 not found
3243 not found
3248 not found
3249 not found
3254 not found
3255 not found
3260 not found
3265 not found
3270 not found
3271 not found
3272 not found
3282 not found
3286 not found
3287 not found
3339 not found
3360 not found
3387 not found
3394 not found
3409 not found
3527 not found
3529 not found
3530 not found
3531 not found
3534 not found
3535 not found
3536 not found
3537 not found
3655 not found
3676 not found
3677 not found
3678 not found
3679 not found
3680 not found
3681 not found
3682 not found
3683 not found
3684 not found
3685 not found
3686 not found
3687 not found
3688 not found
3689 not found
3690 not found
3691 not found
3692 not found
3693 not found
3694 not found
3695 not found
3696 not found
3697 not found
3698 not found
3699 not found
3700 not found
3701 not found
3702 not found
3703 not found
3704 not found
3705 not found
3714 not found
3718 not found
3719 not found
3720 not found
3721 not found
3727 not found
3731 not found
3735 not found
3739 not found
3788 not found
3789 not found
3799 not found
3978 not found
3979 not found
3987 not found
3988 not found
3989 not found
3990 not found
4003 not found
4004 not found
4018 not found
4036 not found
4037 not found
4038 not found
4039 not found
4048 not found
4049 not found
4062 not found
4063 not found
4080 not found
4104 not found
4119 not found
4123 not found
4176 not found
4180 not found
4214 not found
4227 not found
4228 not found
4229 not found
4230 not found
4266 not found
4312 not found
4313 not found
4327 not found
4376 not found
4377 not found
4378 not found
4381 not found
4382 not found
4383 not found
4384 not found
4385 not found
4386 not found
4387 not found
4388 not found
4389 not found
4390 not found
4391 not found
4392 not found
4393 not found
4394 not found
4395 not found
4396 not found
4397 not found
4398 not found
4399 not found

                                           EMBEDD-ER
0  [-0.12194535867357444, -0.006244580452575142, ...
1  [-0.2611681374566279, 0.2803493261717924, 0.29...
2  [-0.036874640250278194, 0.16896590550411816, 0...
3  [-0.1855748825194065, -0.008313995352999733, -...
4  [-0.19450163249573826, 0.16994584429345108, 0....

In [6]:
df_concepts = pd.read_csv(path + 'concepts.csv', sep = '|')
df_concepts['Concept'] = df_concepts['Concept'].apply(lambda x : x.split('/')[-1].replace('_', ' '))
df_embeddings_concepts = embeddings(df_concepts.Concept.values, methods)
df_embeddings_concepts.head()

                                                BERT
0  [-0.94547343, -0.1625015, 0.14259385, -0.01095...
1  [-0.6349313, -0.15997009, 0.030811118, 0.04047...
2  [-0.3411792, 0.24343413, 0.28454694, -0.174622...
3  [0.1459335, 0.10399005, 0.3314292, -0.23018344...
4  [-0.22689115, 0.09236799, -0.1093656, -0.41396...

In [7]:
df_embeddings_concepts.to_csv(path + "embeddings_concepts.csv", sep = '|')

In [9]:
df_concepts = pd.read_csv(path + 'concepts_bis.csv', sep = '|')
df_concepts['Concept'] = df_concepts['Concept'].apply(lambda x : x.split('/')[-1].replace('_', ' '))
df_embeddings_concepts = embeddings(df_concepts.Concept.values, methods)
df_embeddings_concepts.head()

                                                BERT
0  [0.0803655, -0.053174503, -0.42212963, -0.4143...
1  [0.08543151, -0.17890522, -0.30755234, -0.0417...
2  [-0.43576244, -0.003321135, 0.083635025, -0.11...
3  [0.36499563, -0.21680821, -0.25889257, -0.2903...
4  [-0.10854881, -0.122201405, -0.52367646, -0.16...

In [10]:
df_embeddings_concepts.to_csv(path + "embeddings_concepts_bis.csv", sep = '|')
df_embeddings_concepts.shape

In [2]:
df_concepts = pd.read_csv(path + 'concepts_bis.csv', sep = '|')
df_concepts_classes = pd.read_csv(path + 'classes_bis.csv', sep = '|')
df_concepts_classes.head()

,Unnamed: 0,Concept,Class
0,0,Race_and_ethnicity_in_the_United_States_census,http://www.w3.org/2002/07/owl#Thing
1,1,American_Revolutionary_War,http://www.w3.org/2002/07/owl#Thing
2,2,American_Revolutionary_War,http://schema.org/Event
3,3,American_Revolutionary_War,http://www.ontologydesignpatterns.org/ont/dul/...
4,4,American_Revolutionary_War,http://dbpedia.org/ontology/SocietalEvent

In [3]:
df_concepts_classes['Class Name'] = df_concepts_classes['Class'].apply(lambda x : x.split('/')[-1].split('#')[-1].replace('_', ' '))
df_concepts_classes.head()

,Unnamed: 0,Concept,Class,Class Name
0,0,Race_and_ethnicity_in_the_United_States_census,http://www.w3.org/2002/07/owl#Thing,Thing
1,1,American_Revolutionary_War,http://www.w3.org/2002/07/owl#Thing,Thing
2,2,American_Revolutionary_War,http://schema.org/Event,Event
3,3,American_Revolutionary_War,http://www.ontologydesignpatterns.org/ont/dul/...,Event
4,4,American_Revolutionary_War,http://dbpedia.org/ontology/SocietalEvent,SocietalEvent

In [4]:
df_classes = df_concepts_classes[['Class', 'Class Name']]
df_classes = df_classes.drop_duplicates(subset='Class', keep='first')
df_classes = embeddings(df_classes['Class Name'].values, methods)
df_classes.head()

                                                BERT
0  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
1  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
2  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
3  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
4  [-0.40278402, 0.14599594, -0.37918368, -0.2779...

In [5]:
df_classes.to_csv(path + "embeddings_classes_bis.csv", sep = '|')