In [1]:
import os
import pandas as pd
from embedding import embeddings

main_publisher = 'OYC'
methods = ['BERT']

script_dir = os.path.dirname(os.path.realpath('__file__'))
path = os.path.join(script_dir, '../Data/' + main_publisher + '/')
df_chapters = pd.read_csv(path + 'chapters.csv', sep = '|')
df_chapters.head()

/home/abazouzi/Documents/Code/PrerequisiteLearning/clara-datasets/lib64/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

,Cid,Eid,Sid,PartN,Text,Title,BeginTimestamp,EndTimestamp,Corpus
0,0,0,0,0,Professor Jonathan Holloway : \n “Fellow citi...,"Chapter 1. Frederick Douglass’ Speech, Deliver...",00:00:00,00:04:44,yaleocw
1,1,0,0,1,This class is about the post-emancipation Afri...,Chapter 2. What does it mean to be American?,00:04:44,00:07:56,yaleocw
2,2,0,0,2,"Near the Minuteman Park, there’s also a cemete...",Chapter 3. The Story of John Jack,00:07:56,00:15:43,yaleocw
3,3,0,0,3,"Two hundred years later, after John Jack’s att...",Chapter 4. The Linkage between Freedom and Cit...,00:15:43,00:19:25,yaleocw
4,4,0,0,4,We’re going to look for stories like this in a...,Chapter 5. The History of the Post-Emancipatio...,00:19:25,00:24:26,yaleocw

In [5]:
df_chapters['Text'].values[2549]

'Just a few words of conclusion. The literature of the Hebrew Bible relates the odyssey of Israel from its earliest beginnings in the stories of individual Patriarchs worshiping a Canaanite deity to its maturity as a nation forced by history to look beyond its own horizons and concerns. \n The Israelites were lifted up to become something greater than they could ever have planned. They came to see themselves as God’s servants to the world, at the same time that they struggled and argued with their God and criticized themselves for their very human weaknesses and failings. \n From another vantage point, the Bible can be seen also as an anthology that struggles against great odds to sustain a peoples’ covenantal relationship with God. \n The contrast between reality and the religious-moral ideal that good prospers and evil is defeated was a distressing and perplexing problem that occupied the biblical writers. The existence of evil, the suffering of the righteous, the defeat of God’s chosen, all this seemed basically incompatible with certain fundamental monotheistic intuitions; that God holds supreme power in the universe, that God is essentially good and just, and his providential care extends throughout creation. How can faith in such a God be upheld in the face of evil and suffering? \n Although, all ancient cultures — and modern cultures — struggle with the problem of evil, it had particular poignancy for ancient Israel. In other Ancient Near Eastern literatures, we find doubt about the existence of a moral order, certainly. But only in Israel does the question of evil touch on the very essence of God and the very foundation of religious faith. Paganism posits the existence of primordial evil demons or gods, and thus the existence of evil and suffering does not impugn the good gods themselves. \n Later religious systems that grow out of the Bible will in fact increasingly posit demons or a devil. Second Temple Judaism, later-rabbinic Judaism, and most especially Christianity, will posit some devil to account for evil in the world. Undeserved suffering, outrageous and frustrating as it might be, can then be explained at least by the jealousy or the caprice of the evil angels or gods or the demons or devil, who are indifferent to man’s fate. But in biblical religion there is no independent evil principal. And so, undeserved suffering and rampant evil impugn the goodness and justice of God himself. \n Biblical persons have no refuge from evil and suffering other than faith in God’s justice. And if that justice is slow in coming, then despair and doubt threaten. For this reason, Israelite theodicy, I think, is charged with great pathos because the stakes are so high. If one loses faith in an essentially moral universe, one loses God. Or at least as we saw in the Book of Job, one loses a God who governs the world according to a clear moral standard. \n But the biblical writers don’t approach the problem as philosophers or theologians might. For the philosopher, theodicy, the problem of evil is primarily a logical problem, it’s a contradiction. How can a just and good God allow evil and suffering to exist in the world? And like any other logical problem, it’s best solved — according to the philosophers and theologians — through the careful construction of a systematic argument. \n This is not the method or the approach of the biblical writers. For them, the problem is not philosophical; it is personal, it is psychological, it is spiritual. The burning question is really this, how can one sustain a commitment to Israel’s God in the face of national catastrophe and personal suffering? How can one have the strength to embrace, to trust, to love this God knowing that unpredictable suffering and chaos have struck and may again strike at any moment? \n And various writers from various periods add their voices to Israel’s struggle to come to terms with the problem of sustaining faith in the midst of evil and suffering. The Bible’s aim is not to solve the philosophical problem of theodicy, so much as it is to enable the relationship with God to survive all shocks, to make life in covenant with God a viable option, despite the evil and the suffering that are experienced by the faithful. \n The Bible doesn’t offer one single model of how to cope with this problem. A dynamic relationship with what is perceived to be a living personal God rather than the static God of the philosophers, is too complex to be captured in a single dimensional theology. Systematic theology could not do justice to the variegated experiences of the nation and of an individual life, and that’s not the mode or genre chosen by the biblical writers. \n And so various models are presented, not all consistent with one another, but each serving a particular segment of the community coping with a particular challenge at a particular time. Each is an attempt to sustain Israel’s relationship with God in the face of challenges to that continued relationship. Biblical writers tell stories and they interpret history in order to illustrate the many ways in which various individuals and the nation as a whole, have managed to make sense of the covenantal relationship with God. There’s room for multiple models, multiple images of God and his relationship to Israel. And as modern readers of the Bible, we can only marvel at this unresolved polyphony in this ancient anthology. It’s as if the rabbis who were later to canonize this collection saw the truth in the words of\xa0 Qohelet , that to everything there is a season and a time for every purpose under heaven. And so they included books with very different approaches to the fundamental problems that face the ancient Israelites as Israelites and as human beings. \n So after 586 BCE, the Deuteronomist salvaged Yahwism from going the way of other defeated national religions by arguing that Israel had suffered not because God’s promises weren’t true but because they weren’t believed. And this enabled the Israelites to continue faithful to their God, despite the destruction of his sanctuary, his chosen city and his ruler. \n The prophets emphasized the moral and communal aspects of the covenant without which all sacrificial worship was anathema. And so they unwittingly prepared the way for a worship without sacrifice in the Diaspora, and in later Judaism. The Psalms give expression to the deepest emotions of the worshiper struggling with personal despair and anger or brimming over with joy and faith. Job gives vent to the outrage we feel over unjust suffering, while Ecclesiastes preaches existential pleasures as a solace for the vanity of all human endeavor. \n Ezra and Nehemiah confront the very real problem of assimilation and identity with a call to Israel to close ranks, while Jonah and Ruth remind Jews of the universal providence of their God and the power of repentance. Esther and Daniel provide encouragement of radically different types for Jews under threat of persecution and massacre – one a plea for self-reliance and solidarity, and the other, a promise of divine intervention in an apocalypse. \n Do all these books contradict each other? No more than I contradict myself when I say that today I feel happy, but yesterday I felt anxious. Israel’s relationship with God has always been a dynamic and a complex one. To each of these books there was a time and a purpose in the past, and as countless readers of the Bible have discovered over the centuries these books offer continued teaching and inspiration in the shifting moments of every age. \n Thank you very much for your attention this semester. Don’t forget the review session that will be held here with me next week from 10:30-12:30. And you’re early; you get to go home ten minutes early. Thank you. \n [end of transcript] \n — \n References'

In [7]:
df_embeddings = embeddings(df_chapters.Text.values, df_chapters.Cid.values, methods, save = True, path = path)
df_embeddings.head()

                                                BERT
0  [0.052457463, 0.47599125, 0.05521268, -0.28553...
1  [-0.012200231, 0.24475642, 0.11507651, -0.2445...
2  [0.0950356, 0.22532578, 0.17159453, -0.0779241...
3  [0.03151487, 0.44307682, 0.12105083, -0.171348...
4  [-0.03276513, 0.1495071, 0.1283632, -0.0709260...

In [6]:
df_concepts = pd.read_csv(path + 'concepts.csv', sep = '|')
df_concepts['Concept'] = df_concepts['Concept'].apply(lambda x : x.split('/')[-1].replace('_', ' '))
df_embeddings_concepts = embeddings(df_concepts.Concept.values, methods)
df_embeddings_concepts.head()

                                                BERT
0  [-0.94547343, -0.1625015, 0.14259385, -0.01095...
1  [-0.6349313, -0.15997009, 0.030811118, 0.04047...
2  [-0.3411792, 0.24343413, 0.28454694, -0.174622...
3  [0.1459335, 0.10399005, 0.3314292, -0.23018344...
4  [-0.22689115, 0.09236799, -0.1093656, -0.41396...

In [7]:
df_embeddings_concepts.to_csv(path + "embeddings_concepts.csv", sep = '|')

In [10]:
df_concepts = pd.read_csv(path + 'concepts_bis.csv', sep = '|')
df_concepts['Concept'] = df_concepts['Concept'].apply(lambda x : x.split('/')[-1].replace('_', ' '))
df_embeddings_concepts = embeddings(df_concepts.Concept.values, df_concepts.Concept.values, methods=methods)
df_embeddings_concepts.head()

                                                BERT
0  [0.0803655, -0.053174503, -0.42212963, -0.4143...
1  [-0.042931836, -0.17232801, -0.30615467, 0.062...
2  [0.08543151, -0.17890522, -0.30755234, -0.0417...
3  [-0.43576244, -0.003321135, 0.083635025, -0.11...
4  [0.36499563, -0.21680821, -0.25889257, -0.2903...

In [11]:
df_embeddings_concepts.to_csv(path + "embeddings_concepts_bis.csv", sep = '|')
df_embeddings_concepts.shape

In [2]:
df_concepts = pd.read_csv(path + 'concepts_bis.csv', sep = '|')
df_concepts_classes = pd.read_csv(path + 'classes_bis.csv', sep = '|')
df_concepts_classes.head()

,Unnamed: 0,Concept,Class
0,0,Race_and_ethnicity_in_the_United_States_census,http://www.w3.org/2002/07/owl#Thing
1,1,American_Revolutionary_War,http://www.w3.org/2002/07/owl#Thing
2,2,American_Revolutionary_War,http://schema.org/Event
3,3,American_Revolutionary_War,http://www.ontologydesignpatterns.org/ont/dul/...
4,4,American_Revolutionary_War,http://dbpedia.org/ontology/SocietalEvent

In [3]:
df_concepts_classes['Class Name'] = df_concepts_classes['Class'].apply(lambda x : x.split('/')[-1].split('#')[-1].replace('_', ' '))
df_concepts_classes.head()

,Unnamed: 0,Concept,Class,Class Name
0,0,Race_and_ethnicity_in_the_United_States_census,http://www.w3.org/2002/07/owl#Thing,Thing
1,1,American_Revolutionary_War,http://www.w3.org/2002/07/owl#Thing,Thing
2,2,American_Revolutionary_War,http://schema.org/Event,Event
3,3,American_Revolutionary_War,http://www.ontologydesignpatterns.org/ont/dul/...,Event
4,4,American_Revolutionary_War,http://dbpedia.org/ontology/SocietalEvent,SocietalEvent

In [4]:
df_classes = df_concepts_classes[['Class', 'Class Name']]
df_classes = df_classes.drop_duplicates(subset='Class', keep='first')
df_classes = embeddings(df_classes['Class Name'].values, methods)
df_classes.head()

                                                BERT
0  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
1  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
2  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
3  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
4  [-0.40278402, 0.14599594, -0.37918368, -0.2779...

In [5]:
df_classes.to_csv(path + "embeddings_classes_bis.csv", sep = '|')