In [5]:
import os
import pandas as pd
from embedding import embeddings

main_publisher = 'OYC'
methods = ['FastText']

script_dir = os.path.dirname(os.path.realpath('__file__'))
path = os.path.join(script_dir, '../Data/' + main_publisher + '/')
df_chapters = pd.read_csv(path + 'chapters.csv', sep = '|')
df_chapters.head()

,Cid,Eid,Sid,PartN,Text,Title,BeginTimestamp,EndTimestamp,Corpus
0,0,0,0,0,Professor Jonathan Holloway : \n “Fellow citi...,"Chapter 1. Frederick Douglass’ Speech, Deliver...",00:00:00,00:04:44,yaleocw
1,1,0,0,1,This class is about the post-emancipation Afri...,Chapter 2. What does it mean to be American?,00:04:44,00:07:56,yaleocw
2,2,0,0,2,"Near the Minuteman Park, there’s also a cemete...",Chapter 3. The Story of John Jack,00:07:56,00:15:43,yaleocw
3,3,0,0,3,"Two hundred years later, after John Jack’s att...",Chapter 4. The Linkage between Freedom and Cit...,00:15:43,00:19:25,yaleocw
4,4,0,0,4,We’re going to look for stories like this in a...,Chapter 5. The History of the Post-Emancipatio...,00:19:25,00:24:26,yaleocw

In [6]:
from gensim.models import FastText
from gensim.test.utils import common_texts

fasttext = FastText(vector_size = 300, window = 5, min_count = 1, min_n = 3, sentences = common_texts, epochs = 10)
sample_1 = df_chapters['Text'].values[2549]
sample_emb_1 = fasttext.wv[df_chapters['Text'].values[2540:2549]]
sample_2 = df_chapters['Text'].values[2548]
sample_emb_2 = fasttext.wv[sample_2]

In [7]:
df_embeddings = embeddings(df_chapters.Text.values, df_chapters.Cid.values, methods, save = False, path = path)
df_embeddings.head()

                                            FastText
0  [1.7081096302717924e-05, -6.289018347160891e-0...
1  [4.9773470891523175e-06, 1.4091522643866483e-0...
2  [4.273000740795396e-05, -2.934526310127694e-05...
3  [5.550272180698812e-05, -1.3197341104387306e-0...
4  [9.432995284441859e-06, -1.0552232197369449e-0...

In [9]:
df_embeddings.to_csv('embeddings_fasttext.csv', sep = '|')

In [6]:
df_concepts = pd.read_csv(path + 'concepts.csv', sep = '|')
df_concepts['Concept'] = df_concepts['Concept'].apply(lambda x : x.split('/')[-1].replace('_', ' '))
df_embeddings_concepts = embeddings(df_concepts.Concept.values, methods)
df_embeddings_concepts.head()

                                                BERT
0  [-0.94547343, -0.1625015, 0.14259385, -0.01095...
1  [-0.6349313, -0.15997009, 0.030811118, 0.04047...
2  [-0.3411792, 0.24343413, 0.28454694, -0.174622...
3  [0.1459335, 0.10399005, 0.3314292, -0.23018344...
4  [-0.22689115, 0.09236799, -0.1093656, -0.41396...

In [7]:
df_embeddings_concepts.to_csv(path + "embeddings_concepts.csv", sep = '|')

In [10]:
df_concepts = pd.read_csv(path + 'concepts_bis.csv', sep = '|')
df_concepts['Concept'] = df_concepts['Concept'].apply(lambda x : x.split('/')[-1].replace('_', ' '))
df_embeddings_concepts = embeddings(df_concepts.Concept.values, df_concepts.Concept.values, methods=methods)
df_embeddings_concepts.head()

                                                BERT
0  [0.0803655, -0.053174503, -0.42212963, -0.4143...
1  [-0.042931836, -0.17232801, -0.30615467, 0.062...
2  [0.08543151, -0.17890522, -0.30755234, -0.0417...
3  [-0.43576244, -0.003321135, 0.083635025, -0.11...
4  [0.36499563, -0.21680821, -0.25889257, -0.2903...

In [11]:
df_embeddings_concepts.to_csv(path + "embeddings_concepts_bis.csv", sep = '|')
df_embeddings_concepts.shape

(16786, 1)

In [13]:
df_concepts = pd.read_csv(path + 'concepts_bis.csv', sep = '|')
df_concepts_classes = pd.read_csv(path + 'classes.csv', sep = '|')
df_concepts_classes.head()

,Unnamed: 0,Concept,Class
0,0,Race_and_ethnicity_in_the_United_States_census,http://www.w3.org/2002/07/owl#Thing
1,1,African_Americans,http://www.w3.org/2002/07/owl#Thing
2,2,African_Americans,http://dbpedia.org/ontology/Band
3,3,African_Americans,http://dbpedia.org/ontology/EthnicGroup
4,4,American_Revolutionary_War,http://www.w3.org/2002/07/owl#Thing

In [14]:
df_concepts_classes['Class Name'] = df_concepts_classes['Class'].apply(lambda x : x.split('/')[-1].split('#')[-1].replace('_', ' '))
df_concepts_classes.head()

,Unnamed: 0,Concept,Class,Class Name
0,0,Race_and_ethnicity_in_the_United_States_census,http://www.w3.org/2002/07/owl#Thing,Thing
1,1,African_Americans,http://www.w3.org/2002/07/owl#Thing,Thing
2,2,African_Americans,http://dbpedia.org/ontology/Band,Band
3,3,African_Americans,http://dbpedia.org/ontology/EthnicGroup,EthnicGroup
4,4,American_Revolutionary_War,http://www.w3.org/2002/07/owl#Thing,Thing

In [16]:
df_classes = df_concepts_classes[['Class', 'Class Name']]
df_classes = df_classes.drop_duplicates(subset='Class', keep='first')
df_classes = embeddings(df_classes['Class Name'].values, df_classes['Class Name'].values, methods)
df_classes.head()

                                                BERT
0  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
1  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
2  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
3  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
4  [-0.40278402, 0.14599594, -0.37918368, -0.2779...

In [5]:
df_classes.to_csv(path + "embeddings_classes_bis.csv", sep = '|')