In [1]:
import os
import pandas as pd
from embedding import embeddings

main_publisher = 'MIT'
methods = ['BERT']

script_dir = os.path.dirname(os.path.realpath('__file__'))
path = os.path.join(script_dir, '../Data/' + main_publisher + '/')
df_chapters = pd.read_csv(path + 'chapters.csv', sep = '|')
df_chapters['Title'] = df_chapters['Title'].astype(str)
df_chapters['Title'] = df_chapters['Title'].apply(lambda x: ' ' if x=='nan' else x)

df_chapters['Text'] = df_chapters['Text'].astype(str)
df_chapters['Text'] = df_chapters['Text'].apply(lambda x: ' ' if x=='nan' else x)

df_chapters['Type'] = df_chapters['Text'].apply(lambda x: str(type(x)))
df_chapters[df_chapters['Text'] == ' '].head()

/home/abazouzi/Documents/Code/PrerequisiteLearning/clara-datasets/lib64/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

,Cid,Eid,Sid,Title,Text,BeginTimestamp,EndTimestamp,Corpus,Type
406,406,213,9,"4. Pushdown Automata, Conversion of CFG to PDA...",,0:00:00,0:00:00,MIT OpenCourseWare,<class 'str'>
440,440,225,9,"17. Space Complexity, PSPACE, Savitch's Theorem",,0:00:00,0:00:00,MIT OpenCourseWare,<class 'str'>
720,720,425,18,Quiz 2 Review,,0:00:00,0:00:00,MIT OpenCourseWare,<class 'str'>

In [2]:
df_embeddings = embeddings(df_chapters.Text.values, df_chapters.Cid.values, methods, save = True, path = path)
df_embeddings.head()

                                                BERT
0  [0.07993402, 0.20731501, 0.2947327, -0.4567318...
1  [0.017245166, 0.19831742, 0.2463726, -0.129093...
2  [-0.3729775, 0.048071, 0.50140005, -0.2185923,...
3  [0.024492659, 0.038255762, 0.33062482, -0.4121...
4  [0.048811253, 0.020026138, 0.2520394, -0.23671...

In [3]:
df_embeddings.to_csv(path + "embeddings_chapters.csv", sep = '|')

In [6]:
df_concepts = pd.read_csv(path + 'concepts.csv', sep = '|')
df_concepts['Concept'] = df_concepts['Concept'].apply(lambda x : x.split('/')[-1].replace('_', ' '))
df_embeddings_concepts = embeddings(df_concepts.Concept.values, methods)
df_embeddings_concepts.head()

                                                BERT
0  [-0.94547343, -0.1625015, 0.14259385, -0.01095...
1  [-0.6349313, -0.15997009, 0.030811118, 0.04047...
2  [-0.3411792, 0.24343413, 0.28454694, -0.174622...
3  [0.1459335, 0.10399005, 0.3314292, -0.23018344...
4  [-0.22689115, 0.09236799, -0.1093656, -0.41396...

In [7]:
df_embeddings_concepts.to_csv(path + "embeddings_concepts.csv", sep = '|')

In [4]:
df_concepts = pd.read_csv(path + 'concepts_bis.csv', sep = '|')
df_concepts['Concept'] = df_concepts['Concept'].apply(lambda x : x.split('/')[-1].replace('_', ' '))
df_embeddings_concepts = embeddings(df_concepts.Concept.values, df_concepts.Concept.values, methods=methods)
df_embeddings_concepts.head()

                                                BERT
0  [-0.011491262, 0.0147075355, 0.030068249, -0.1...
1  [-0.011491262, 0.0147075355, 0.030068249, -0.1...
2  [-0.035813093, 0.020605687, -0.0953911, -0.314...
3  [-0.29198655, -0.2779123, 0.1208481, -0.352406...
4  [-0.29198655, -0.2779123, 0.1208481, -0.352406...

In [5]:
df_embeddings_concepts.to_csv(path + "embeddings_concepts_bis.csv", sep = '|')
df_embeddings_concepts.shape

(31681, 1)

In [6]:
df_concepts = pd.read_csv(path + 'concepts_bis.csv', sep = '|')
df_concepts_classes = pd.read_csv(path + 'classes.csv', sep = '|', index_col=0)
df_concepts_classes.head()

               Concept                                  Class
0       Absolute_value    http://www.w3.org/2002/07/owl#Thing
1       Absolute_value    http://dbpedia.org/ontology/Company
2  Continuous_function    http://www.w3.org/2002/07/owl#Thing
3           Derivative    http://www.w3.org/2002/07/owl#Thing
4           Derivative  http://dbpedia.org/ontology/RaceHorse

In [7]:
df_concepts_classes['Class Name'] = df_concepts_classes['Class'].apply(lambda x : x.split('/')[-1].split('#')[-1].replace('_', ' '))
df_concepts_classes.head()

               Concept                                  Class Class Name
0       Absolute_value    http://www.w3.org/2002/07/owl#Thing      Thing
1       Absolute_value    http://dbpedia.org/ontology/Company    Company
2  Continuous_function    http://www.w3.org/2002/07/owl#Thing      Thing
3           Derivative    http://www.w3.org/2002/07/owl#Thing      Thing
4           Derivative  http://dbpedia.org/ontology/RaceHorse  RaceHorse

In [8]:
df_classes = df_concepts_classes[['Class', 'Class Name']]
df_classes = df_classes.drop_duplicates(subset='Class', keep='first')
df_classes = embeddings(df_classes['Class Name'].values, df_classes['Class Name'].values, methods)
df_classes.head()

                                                BERT
0  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
1  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
2  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
3  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
4  [-0.40278402, 0.14599594, -0.37918368, -0.2779...

In [9]:
df_classes.to_csv(path + "embeddings_classes_bis.csv", sep = '|')