In [1]:
import os
import pandas as pd
from embedding import embeddings

main_publisher = 'Stanford'
methods = ['BERT']

script_dir = os.path.dirname(os.path.realpath('__file__'))
path = os.path.join(script_dir, '../Data/' + main_publisher + '/')
df_chapters = pd.read_csv(path + 'chapters.csv', sep = '|')
df_chapters['Title'] = df_chapters['Title'].astype(str)
df_chapters['Title'] = df_chapters['Title'].apply(lambda x: ' ' if x=='nan' else x)

df_chapters['Text'] = df_chapters['Text'].astype(str)
df_chapters['Text'] = df_chapters['Text'].apply(lambda x: ' ' if x=='nan' else x)

df_chapters['Type'] = df_chapters['Text'].apply(lambda x: str(type(x)))
df_chapters[df_chapters['Text'] == ' '].head()

/home/abazouzi/Documents/Code/PrerequisiteLearning/clara-datasets/lib64/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Empty DataFrame
Columns: [Cid, Eid, Sid, Title, Text, BeginTimestamp, EndTimestamp, Corpus, Type]
Index: []

In [2]:
df_embeddings = embeddings(df_chapters.Text.values, df_chapters.Cid.values, methods, save = True, path = path)
df_embeddings.head()

                                                BERT
0  [-0.028438192, 0.06574503, 0.27872306, -0.0405...
1  [0.08236879, -0.030180156, 0.54893965, -0.0544...
2  [-0.13332342, 0.016858434, 0.3161581, -0.28361...
3  [-0.15141454, -0.16294053, 0.2395207, 0.011458...
4  [0.0025563724, -0.009716595, 0.33443743, 0.116...

In [3]:
df_embeddings.to_csv(path + "embeddings_chapters.csv", sep = '|')

In [6]:
df_concepts = pd.read_csv(path + 'concepts.csv', sep = '|')
df_concepts['Concept'] = df_concepts['Concept'].apply(lambda x : x.split('/')[-1].replace('_', ' '))
df_embeddings_concepts = embeddings(df_concepts.Concept.values, methods)
df_embeddings_concepts.head()

                                                BERT
0  [-0.94547343, -0.1625015, 0.14259385, -0.01095...
1  [-0.6349313, -0.15997009, 0.030811118, 0.04047...
2  [-0.3411792, 0.24343413, 0.28454694, -0.174622...
3  [0.1459335, 0.10399005, 0.3314292, -0.23018344...
4  [-0.22689115, 0.09236799, -0.1093656, -0.41396...

In [7]:
df_embeddings_concepts.to_csv(path + "embeddings_concepts.csv", sep = '|')

In [4]:
df_concepts = pd.read_csv(path + 'concepts_bis.csv', sep = '|')
df_concepts['Concept'] = df_concepts['Concept'].apply(lambda x : x.split('/')[-1].replace('_', ' '))
df_embeddings_concepts = embeddings(df_concepts.Concept.values, df_concepts.Concept.values, methods=methods)
df_embeddings_concepts.head()

                                                BERT
0  [-0.21858865, 0.064856574, -0.0994579, -0.1870...
1  [-0.4257597, 0.09390659, -0.10234618, -0.20165...
2  [-0.13135229, -0.019156182, -0.0035993631, -0....
3  [-0.14531374, 0.09480121, 0.08134028, -0.18564...
4  [-0.38800097, -0.18268852, 0.012900118, -0.208...

In [5]:
df_embeddings_concepts.to_csv(path + "embeddings_concepts_bis.csv", sep = '|')
df_embeddings_concepts.shape

(16133, 1)

In [6]:
df_concepts = pd.read_csv(path + 'concepts_bis.csv', sep = '|')
df_concepts_classes = pd.read_csv(path + 'classes.csv', sep = '|', index_col=0)
df_concepts_classes.head()

           Concept                                     Class
0    Breast_cancer       http://www.w3.org/2002/07/owl#Thing
1    Breast_cancer       http://dbpedia.org/ontology/Disease
2             Gene       http://www.w3.org/2002/07/owl#Thing
3             Gene  http://dbpedia.org/ontology/Organisation
4  Gene_expression       http://www.w3.org/2002/07/owl#Thing

In [7]:
df_concepts_classes['Class Name'] = df_concepts_classes['Class'].apply(lambda x : x.split('/')[-1].split('#')[-1].replace('_', ' '))
df_concepts_classes.head()

           Concept                                     Class    Class Name
0    Breast_cancer       http://www.w3.org/2002/07/owl#Thing         Thing
1    Breast_cancer       http://dbpedia.org/ontology/Disease       Disease
2             Gene       http://www.w3.org/2002/07/owl#Thing         Thing
3             Gene  http://dbpedia.org/ontology/Organisation  Organisation
4  Gene_expression       http://www.w3.org/2002/07/owl#Thing         Thing

In [8]:
df_classes = df_concepts_classes[['Class', 'Class Name']]
df_classes = df_classes.drop_duplicates(subset='Class', keep='first')
df_classes = embeddings(df_classes['Class Name'].values, df_classes['Class Name'].values, methods)
df_classes.head()

                                                BERT
0  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
1  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
2  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
3  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
4  [-0.40278402, 0.14599594, -0.37918368, -0.2779...

In [9]:
df_classes.to_csv(path + "embeddings_classes_bis.csv", sep = '|')