In [20]:
import os
import pandas as pd
from embedding import embeddings

main_publisher = 'Merged'
methods = ['BERT']

script_dir = os.path.dirname(os.path.realpath('__file__'))
path = os.path.join(script_dir, '../Data/' + main_publisher + '/')
df_chapters = pd.read_csv(path + 'chapters.csv', sep = '|')
df_chapters.head()

,Cid,Eid,Sid,Text,Title,BeginTimestamp,EndTimestamp,Corpus
0,0,0,0,Professor Jonathan Holloway : \n “Fellow citi...,"Chapter 1. Frederick Douglass’ Speech, Deliver...",00:00:00,00:04:44,yaleocw
1,1,0,0,This class is about the post-emancipation Afri...,Chapter 2. What does it mean to be American?,00:04:44,00:07:56,yaleocw
2,2,0,0,"Near the Minuteman Park, there’s also a cemete...",Chapter 3. The Story of John Jack,00:07:56,00:15:43,yaleocw
3,3,0,0,"Two hundred years later, after John Jack’s att...",Chapter 4. The Linkage between Freedom and Cit...,00:15:43,00:19:25,yaleocw
4,4,0,0,We’re going to look for stories like this in a...,Chapter 5. The History of the Post-Emancipatio...,00:19:25,00:24:26,yaleocw

In [21]:
df_embeddings = embeddings(df_chapters.Text.values, df_chapters.Cid.values, methods, save = True, path = path)
df_embeddings.head()

                                                BERT
0  [0.052457463, 0.47599125, 0.05521268, -0.28553...
1  [-0.012200231, 0.24475642, 0.11507651, -0.2445...
2  [0.0950356, 0.22532578, 0.17159453, -0.0779241...
3  [0.03151487, 0.44307682, 0.12105083, -0.171348...
4  [-0.03276513, 0.1495071, 0.1283632, -0.0709260...

In [18]:
df_embeddings.to_csv(path + "embeddings_chapters.csv", sep = '|')

In [6]:
df_concepts = pd.read_csv(path + 'concepts.csv', sep = '|')
df_concepts['Concept'] = df_concepts['Concept'].apply(lambda x : x.split('/')[-1].replace('_', ' '))
df_embeddings_concepts = embeddings(df_concepts.Concept.values, methods)
df_embeddings_concepts.head()

                                                BERT
0  [-0.94547343, -0.1625015, 0.14259385, -0.01095...
1  [-0.6349313, -0.15997009, 0.030811118, 0.04047...
2  [-0.3411792, 0.24343413, 0.28454694, -0.174622...
3  [0.1459335, 0.10399005, 0.3314292, -0.23018344...
4  [-0.22689115, 0.09236799, -0.1093656, -0.41396...

In [7]:
df_embeddings_concepts.to_csv(path + "embeddings_concepts.csv", sep = '|')

In [12]:
df_concepts = pd.read_csv(path + 'concepts_bis.csv', sep = '|')
df_concepts['Concept'] = df_concepts['Concept'].apply(lambda x : x.split('/')[-1].replace('_', ' '))
df_embeddings_concepts = embeddings(df_concepts.Concept.values, df_concepts.Concept.values, methods=methods)
df_embeddings_concepts.head()

                                                BERT
0  [-0.011491262, 0.0147075355, 0.030068249, -0.1...
1  [-0.011491262, 0.0147075355, 0.030068249, -0.1...
2  [-0.035813093, 0.020605687, -0.0953911, -0.314...
3  [-0.29198655, -0.2779123, 0.1208481, -0.352406...
4  [-0.29198655, -0.2779123, 0.1208481, -0.352406...

In [13]:
df_embeddings_concepts.to_csv(path + "embeddings_concepts_bis.csv", sep = '|')
df_embeddings_concepts.shape

(31656, 1)

In [14]:
df_concepts = pd.read_csv(path + 'concepts_bis.csv', sep = '|')
df_concepts_classes = pd.read_csv(path + 'classes.csv', sep = '|')
df_concepts_classes.head()

   Unnamed: 0              Concept                                Class
0           0       Absolute_value  http://www.w3.org/2002/07/owl#Thing
1           1       Absolute_value  http://dbpedia.org/ontology/Company
2           2       Absolute_value  http://www.w3.org/2002/07/owl#Thing
3           3       Absolute_value  http://dbpedia.org/ontology/Company
4           4  Continuous_function  http://www.w3.org/2002/07/owl#Thing

In [15]:
df_concepts_classes['Class Name'] = df_concepts_classes['Class'].apply(lambda x : x.split('/')[-1].split('#')[-1].replace('_', ' '))
df_concepts_classes.head()

,Unnamed: 0,Concept,Class,Class Name
0,0,Absolute_value,http://www.w3.org/2002/07/owl#Thing,Thing
1,1,Absolute_value,http://dbpedia.org/ontology/Company,Company
2,2,Absolute_value,http://www.w3.org/2002/07/owl#Thing,Thing
3,3,Absolute_value,http://dbpedia.org/ontology/Company,Company
4,4,Continuous_function,http://www.w3.org/2002/07/owl#Thing,Thing

In [16]:
df_classes = df_concepts_classes[['Class', 'Class Name']]
df_classes = df_classes.drop_duplicates(subset='Class', keep='first')
df_classes = embeddings(df_classes['Class Name'].values, df_classes['Class Name'].values, methods)
df_classes.head()

                                                BERT
0  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
1  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
2  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
3  [-0.40278402, 0.14599594, -0.37918368, -0.2779...
4  [-0.40278402, 0.14599594, -0.37918368, -0.2779...

In [17]:
df_classes.to_csv(path + "embeddings_classes_bis.csv", sep = '|')