In [16]:
import pandas as pd

main_publisher = 'Stanford'
df = pd.read_csv(f'../Output/Evaluation/results_bert_{main_publisher}.csv', sep = '|')

In [17]:
df.head()

               Model  Accuracy                 Params
0  Linear Regression  0.625806                    NaN
1                SVM  0.554839     (1, 0.1, 'linear')
2                SVM  0.554839    (1, 0.01, 'linear')
3                SVM  0.554839   (1, 0.001, 'linear')
4                SVM  0.554839  (1, 0.0001, 'linear')

In [29]:
model = 'RF'
best_params = df[(df['Model'] == model)].sort_values(by = ['Accuracy'], ascending = False)['Params'].values[0]

In [30]:
df[(df['Model'] == model)].sort_values(by = ['Accuracy'], ascending = False).head()

    Model  Accuracy                   Params
390    RF  0.787097      (0, 5, 200, 'gini')
387    RF  0.780645      (0, 5, 150, 'gini')
375    RF  0.774194      (0, 2, 150, 'gini')
384    RF  0.767742      (0, 5, 100, 'gini')
392    RF  0.767742  (0, 5, 200, 'log_loss')

In [31]:
df_best = df[(df['Model'] == model) & (df['Params'] == best_params)]
print(f'{int(round(df_best["Accuracy"].values.mean(), 4) * 100)}($\pm${int(round(df_best["Accuracy"].values.std(), 4)*100)})')
print(f'{int(round(df_best["Accuracy"].values.min(), 4) * 100)} {int(round(df_best["Accuracy"].values.max(), 4)*100)}')

71($\pm$5)
61 78

In [ ]:
main_publisher = 'Stanford'
df_ModelsAll = pd.read_csv(f'../Modeling/ablation_results_{main_publisher}.csv')
df_ModelSAGE = df_ModelsAll[df_ModelsAll['Model']=='SAGE']
print(f'{int(round(df_ModelSAGE["Test Accuracy"].values.mean(), 2) * 100)}($\pm${int(round(df_ModelSAGE["Test Accuracy"].values.std(), 2)*100)})')

In [119]:
import pandas as pd
main_publisher = "Stanford" # MIT, OYC, Khan, Stanford
methods = "embedd-er" # BERT , embedd-er
class_type = "dct" # rdfs, dct
df_ModelsAll = pd.read_csv(f'../Output/Ablation/results_{main_publisher}_{methods}_{class_type}_bis.csv')
df_Model = df_ModelsAll[df_ModelsAll['Model'] == 'Conv']
df_Model.sort_values(by="Test Accuracy", ascending=False).head()

,Epochs,Learning rate,Layers,Channels,Time,Embedding,Class,Test Precision,Test Accuracy,Test Recall,Test F1,Loss,Duration,Model,Data
964,300,0.10,6,16,6.663485,embedd-er,dct,0.796460,0.838710,0.806591,0.819977,129.487317,6.662752,Conv,Stanford
659,50,0.01,6,64,2.187907,embedd-er,dct,0.840426,0.819355,0.810300,0.811828,24.891700,2.186571,Conv,Stanford
842,100,0.10,6,64,3.211666,embedd-er,dct,0.785714,0.819355,0.810446,0.813702,48.608169,3.210742,Conv,Stanford
749,100,0.01,2,16,1.112027,embedd-er,dct,0.847826,0.819355,0.812802,0.812802,38.713815,1.111357,Conv,Stanford
929,300,0.01,2,16,4.590013,embedd-er,dct,0.870588,0.812903,0.814872,0.809057,48.064646,4.589006,Conv,Stanford

In [120]:
aggregated_res = df_Model.groupby(['Epochs', 'Learning rate', 'Layers', 'Channels']).agg({
    'Test Accuracy': 'mean'
}).reset_index()
print(len(aggregated_res))
aggregated_res.sort_values(by="Test Accuracy", ascending=False).head(20)

108

     Epochs  Learning rate  Layers  Channels  Test Accuracy
41      100          0.001       2       128       0.774194
51      100          0.010       2        16       0.770323
106     300          0.100       6        64       0.769032
9        50          0.001       6        16       0.769032
75      300          0.001       2        16       0.769032
39      100          0.001       2        16       0.765161
77      300          0.001       2       128       0.765161
40      100          0.001       2        64       0.765161
7        50          0.001       4        64       0.762581
54      100          0.010       4        16       0.761290
59      100          0.010       6       128       0.761290
105     300          0.100       6        16       0.760000
89      300          0.010       2       128       0.758710
10       50          0.001       6        64       0.757419
87      300          0.010       2        16       0.756129
11       50          0.001       6       128       0.756129
8        50          0.001       4       128       0.754839
3        50          0.001       2        16       0.754839
88      300          0.010       2        64       0.754839
22       50          0.010       6        64       0.754839

In [88]:
chosen_models = ['NoEnrichment', 'Reinjection', 'SAGE', 'Conv', 'GAT']
accuracy = []
std = []
results = ''
for chosen_model in chosen_models:
    mean_accuracy = df_ModelsAll[df_ModelsAll["Model"] == chosen_model]["Test Accuracy"].values.mean()
    accuracy.append(mean_accuracy)
    std_accuracy = df_ModelsAll[df_ModelsAll["Model"] == chosen_model]["Test Accuracy"].values.std()
    std.append(std_accuracy)
    results += f'{round(mean_accuracy, 2)}({round(std_accuracy, 2)})\t'

In [90]:
std

[0.021862271639475035,
 0.027801498962173536,
 0.023886565377842495,
 0.016012692610787006,
 0.04971681879438126]